<div class="container fluid-height clearfix">
  <%= render 'head'%>
  <h2 class="heading">编辑类别</h2>

  <div class="widget-container fluid-height clearfix">

    <div class="col-lg-8">
      　　　<%= render 'form' %>
    </div>
    <div class="col-lg-3" style="font-size: 180px;">
    </div>

  </div>


</div>

