<%=render 'head' %>
<div class="container fluid-height clearfix">
  <h2 class="heading">创建管理员</h2>


  <div class="widget-container fluid-height clearfix">

    <div class="col-lg-8">
      <%= render 'form' %>
    </div>
    <div class="col-lg-3" style="font-size: 180px;">
      <i class="heading icon-user "></i>
    </div>

  </div>


</div>
