<div class="container fluid-height clearfix">
  <%=render 'head' %>

  <script type="text/javascript" language="JavaScript">
      function showlablediv(){
          document.getElementById("lablediv").style.display="block";
          document.getElementById("formdiv").style.display="none";
      }
      function showformdiv(){
          document.getElementById("lablediv").style.display="none";
          document.getElementById("formdiv").style.display="block";
          //document.getElementById("formdiv").style.display =  document.getElementById("formdiv").style.display=="none"?"block":"none";

      }
  </script>






  <div class="row">
    <div class="col-lg-12">
      <h2 class="heading"><i class="icon-random"></i>&nbsp; 角色分配</h2>
      <div class="widget-container fluid-height clearfix" style="padding: 10px;">

        <!--左边样式-->
        <div class="col-lg-6">
          <h4 class="icon-user">&nbsp;管理员</h4><p></p>
          <div id="lablediv">

            <p>
              <span class="col-sm-2" style="text-align: right;">账号:</span>
              <%= @admin.name %>
            </p>


            <p>
              <span class="col-sm-2" style="text-align: right;">备注:</span>
              <%= @admin.content %>&nbsp;
            </p>

            <p>
              <span class="col-sm-2" style="text-align: right;">状态:</span>
              <% if @admin.status == 1 %>
                  <i class="heading icon-unlock">&nbsp;正常</i>
              <% else %>
                  <i class="icon-lock">&nbsp;停用</i>
              <% end %>
            </p>
            <div>
              <a onclick="showformdiv()" class="btn btn-primary-outline"><i class="icon-pencil"></i>编辑管理员</a>
            </div>
          </div>
          <div id="formdiv" style="display: none;">
            <%= render 'form' %>
            <input type="button" onclick="showlablediv()" value="取消" class="btn btn-xs btn-primary">
          </div>
        </div>


      </div>
    </div>
  </div>

</div>