<%=render 'head' %>
<h1>Editing Advertisement</h1>

<div class="container fluid-height clearfix">
  <%= render 'form' %>

  <%= link_to 'Show', @advertisement %> |
  <%= link_to 'Back', advertisements_path %>
</div>