<%=render 'head' %>
<h1>Editing sidecontent</h1>

<div class="widget-container fluid-height clearfix">

  <div class="container fluid-height clearfix">
    <div class="col-lg-12">
      <%= render 'form' %>
    </div>
  </div>
</div>