<!DOCTYPE html>
<html>
<head>
  <title>Zhongshuixi</title>
  <%= stylesheet_link_tag    'css/add', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'js/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
